<div class="jumbotron">
  <div class="container">
  <h2 id="Titulo">TANIA VILLASANA</h2>
    <h3>Wonderful Places</h3>
    <p>Los lugares que tienes que conocer</p>
  <a href="https://www.instagram.com/wonderful_places/" class="btn btn-default">
    <span class="glyphicon glyphicon-camera" style="font-size: 20px; color:crimson"></span>  Ver más</a>
  </div>
</div>


<div class="container">
<div class="row">
  <div class="col-md-4">
    <div class="page-header">
    <h2> Roma, Italia.</h2>
    </div>
    <p>Roma es una ciudad y capital italiana, de 2 872 082 habitantes, capital de la Ciudad metropolitana de Roma Capital, de la región del Lacio y de Italia. Es el municipio más poblado de Italia y es la cuarta ciudad más poblada de la Unión Europea.</p>
    <hr>
    <br>

    <a href="http://facebook.com">
      <image src="http://cdn3.upsocl.com/wp-content/uploads/2014/09/418.jpg" style="width:300px" class="image-responsive"></image>
    </a>

  </div>


    <div class="col-md-4">
      <div class="page-header">
      <h2> Londres, Inglaterra. </h2>
      </div>
      <p>Londres es la capital de Inglaterra y del Reino Unido, y la mayor ciudad y área urbana de Gran Bretaña y de toda la Unión Europea
      </p>
      <hr>
      <br>

      <a href="http://facebook.com">
        <image src="http://res.cloudinary.com/dreamtravelers/image/upload/v1431526806/London-Big-Ben-Wallpaper-HD_fzz3w9.jpg" style="width:300px" class="image-responsive"></image>
      </a>

    </div>

    <div class="col-md-4">
      <div class="page-header">
        <h2> Paris, Francia.</h2>
      </div>
      <p>París es la capital de Francia y su ciudad más poblada. Capital de la región de Isla de Francia, es constituida en la única comuna unidepartamental del país</p>
      <!--linea para separar texto hr-->
      <hr>
      <br>

      <a href="http://facebook.com">
        <image src="http://cdn3.upsocl.com/wp-content/uploads/2014/09/207.jpg" style="width:300px" class="image-responsive"></image>
      </a>
    </div>
  </div>

  <!--listas-->
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="page-header">
          <h2> Berlin, Alemania </h2>
        </div>
        <p>Berlín es la capital de Alemania y uno de los dieciséis estados federados alemanes. Se localiza al noreste de Alemania. Por la ciudad fluyen los ríos Spree, Havel, Panke, Dahme y Wuhle.</p>
        <hr>
        <br>

        <a href="http://facebook.com">
          <image src="http://www.hdfondos.eu/pictures/2016/0622/1/orig_426167.jpg" style="width:300px" class="image-responsive"></image>
        </a>

      </div>


      <div class="col-md-4">
        <div class="page-header">
          <h2> Nueva York, USA </h2>
        </div>
        <p>Nueva York es la ciudad más poblada del estado homónimo y de los Estados Unidos de América, y la segunda mayor concentración urbana del continente americano, después de la Ciudad de México
        </p>
        <hr>
        <br>

        <a href="http://facebook.com">
          <image src="https://s-media-cache-ak0.pinimg.com/originals/92/22/23/92222301ee886b95384df4c4e1408786.jpg" style="width:300px" class="image-responsive"></image>
        </a>

      </div>

      <div class="col-md-4">
        <div class="page-header">
          <h2> Barcelona, España.</h2>
        </div>
        <p>Barcelona es una ciudad y municipio de España, capital de la comarca del Barcelonés, de la provincia homónima y de la comunidad autónoma de Cataluña.</p>
        <!--linea para separar texto hr-->
        <hr>
        <br>

        <a href="http://facebook.com">
          <image src="http://cdn5.upsocl.com/wp-content/uploads/2014/09/402.jpg" style="width:300px" class="image-responsive"></image>
        </a>
      </div>
    </div>




    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="page-header">
            <h2> San Petersburgo, Rusia</h2>
          </div>
          <p>San Petersburgo es la segunda ciudad más poblada de Rusia, con 5.026.000 habitantes y un área metropolitana de 5,85 millones. Está situada en la Región de Leningrado, nombre que compartía con la ciudad durante la época soviética

          </p>
          <!--linea para separar texto hr-->
          <hr>
          <br>

          <a href="http://facebook.com">
            <image src="http://cdn2.upsocl.com/wp-content/uploads/2014/09/442.jpg" style="width:300px" class="image-responsive"></image>
          </a>
        </div>


        <div class="col-md-4">
          <div class="page-header">
            <h2> Dubai, Emiratos Árabes. </h2>
          </div>
          <p>Dubái es uno de los siete emiratos que conforman los Emiratos Árabes Unidos, cuya capital es la ciudad homónima
          </p>
          <hr>
          <br>

          <a href="http://facebook.com">
            <image src="http://cdn3.upsocl.com/wp-content/uploads/2014/09/472.jpg" style="width:300px" class="image-responsive"></image>
          </a>

        </div>

        <div class="col-md-4">
          <div class="page-header">
            <h2> Chiang Mai, Tailandia</h2>
          </div>
          <p>Chiang Mai, capital de la provincia de Chiang Mai, es la ciudad más grande y significativamente cultural del norte de Tailandia.</p>
          <!--linea para separar texto hr-->
          <hr>
          <br>

          <a href="http://facebook.com">
            <image src="http://cdn2.upsocl.com/wp-content/uploads/2014/09/671.jpg" style="width:300px" class="image-responsive"></image>
          </a>
        </div>
      </div>






      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <div class="page-header">
              <h2> Los Angeles, Hollywood</h2>
            </div>
            <p>Hollywood es un distrito de Los Ángeles, asociado a la industria del cine estadounidense.</p>
            <hr>
            <br>

            <a href="http://facebook.com">
              <image src="http://cdn3.upsocl.com/wp-content/uploads/2014/09/418.jpg" style="width:300px" class="image-responsive"></image>
            </a>

          </div>


          <div class="col-md-4">
            <div class="page-header">
              <h2> Estambul,  Turquia </h2>
            </div>
            <p> Estambul, conocida históricamente como Bizancio y, posteriormente, Constantinopla, es la ciudad más poblada de Turquía y el centro histórico, cultural y económico del país.
            </p>
            <hr>
            <br>

            <a href="http://facebook.com">
              <image src="http://www.bestfon.info/images/joomgallery/originals/ciudades_2/mezquita_estambul_turquia_20150114_1536515194.jpg" style="width:300px" class="image-responsive"></image>
            </a>

          </div>

          <div class="col-md-4">
            <div class="page-header">
              <h2> Canadá</h2>
            </div>
            <p>Canadá es un país soberano de América del Norte, cuya forma de gobierno es la monarquía parlamentaria federal. Su territorio está organizado en diez provincias y tres territorios. Su capital es la ciudad de Ottawa y la ciudad más poblada es Toronto</p>
            <!--linea para separar texto hr-->
            <hr>
            <br>

            <a href="http://facebook.com">
              <image src="http://maximumwallhd.com/wp-content/uploads/2016/09/fonds-ecran-canada-19.jpg" style="width:300px" class="image-responsive"></image>
            </a>
          </div>
        </div>




        <!--<ul>
        <li>
          Damon
        </li>
        <li>Khaterine</li>
        <li>Klaus</li>
      </ul>

      <ol>
        <li>
          Damon
        </li>
        <li>Khaterine</li>
        <li>Klaus</li>
      </ol>-->
    </div>