<div class="jumbotron">
  <div class="container">
  <h2 id="Titulo">TANIA VILLASANA</h2>
    <h3>Diario de Vampiros</h3>
    <p>Personajes</p>
  <a href="http://twitter.com" class="btn btn-default">
    <span class="glyphicon glyphicon-camera" style="font-size: 20px; color:crimson"></span>  Ver más</a>
  </div>
</div>


<div class="container">
<div class="row">
  <div class="col-md-4">
    <div class="page-header">
    <h2> Damon Salvatore</h2>
    </div>
    <p>"Siempre has sido tú, Stefan.
      Así que, por última vez, te perdono por hacerme lo que soy.
      Te absuelvo de toda la muerte y destrucción que he causado como resultado.
      ¿Y quieres saber por qué? Porque eres mi hermano. Y te amo.
      Y no hay nada que puedas hacer para cambiar eso"</p>

  </div>


    <div class="col-md-4">
      <div class="page-header">
      <h2> Katerina Petrova </h2>
      </div>
      <p>"Soy un sobreviviente. Mantenerme con vida es mi especialidad."
      </p>

    </div>

    <div class="col-md-4">
      <div class="page-header">
        <h2> Kai Parker</h2>
      </div>
      <p>He estado en el infierno el tiempo suficiente para saber que no hay tal cosa como la redención.
        Sólo hay promesas y gangas y trucos que hacemos para hacernos creer que somos buenas personas ...
        No soy una buena persona. Yo sé eso.
        Y si voy a bajar ... voy a salir con una explosión</p>
      <!--linea para separar texto hr-->
      <hr>
      <br>

      <a href="http://facebook.com">
        <image src="https://s-media-cache-ak0.pinimg.com/736x/f7/fd/ab/f7fdab8306b29b553914f288848cc2d8.jpg" style="width:500px" class="image-responsive"></image>
      </a>
    </div>
  </div>

  <!--listas-->
  <ul>
    <li>
      Damon
    </li>
    <li>Khaterine</li>
    <li>Klaus</li>
  </ul>

  <ol>
    <li>
      Damon
    </li>
    <li>Khaterine</li>
    <li>Klaus</li>
  </ol>
</div>