<div class="jumbotron">
  <div class="container">
  <h1 id="Titulo">TANIA VILLASANA</h1>
  <p>lorem impsu</p>
  <a href="http://twitter.com" class="btn btn-default">
    <span class="glyphicon glyphicon-camera" style="font-size: 20px; color:crimson"></span>  Ver más</a>
  </div>
</div>


<div class="container">
<div class="row">
  <div class="col-md-4">
    <div class="page-header">
    <h2> I don't wanna live forever</h2>
    </div>
    <p>I don't wanna live forever, 'cause I know I'll be living in vain
      And I don't wanna fit wherever
      I just wanna keep calling your name until you come back home
      I just wanna keep calling your name until you come back home
      I just wanna keep calling your name until you come back home</p>

  </div>


    <div class="col-md-4">
      <div class="page-header">
      <h2> Always</h2>
      </div>
      <p>This Romeo is bleeding, but you can't see his blood
        It's nothing but some feelings
        That this old dog kicked up
        It's been raining since you left me
        Now I'm drowning in the flood
        You see I've always been a fighter
        But without you I give up
      </p>

    </div>

    <div class="col-md-4">
      <div class="page-header">
        <h2> Love me like you do</h2>
      </div>
      <p>You're the light, you're the night
        You're the color of my blood
        You're the cure, you're the pain
        You're the only thing I wanna touch
        Never knew that it could mean so much, so much</p>
      <!--linea para separar texto hr-->
      <hr>
      <br>

      <a href="http://facebook.com">
        <image src="https://s-media-cache-ak0.pinimg.com/736x/f7/fd/ab/f7fdab8306b29b553914f288848cc2d8.jpg" class="image-responsive"></image>
      </a>
    </div>
  </div>

  <!--listas-->
  <ul>
    <li>
      Damon
    </li>
    <li>Khaterine</li>
    <li>Klaus</li>
  </ul>

  <ol>
    <li>
      Damon
    </li>
    <li>Khaterine</li>
    <li>Klaus</li>
  </ol>
</div>